@*
    Pour plus d'informations sur l'activation de MVC pour les projets vides, consultez https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "À propos";
}

<!-- Titre de la page -->
<div class="page-title dark-background" data-aos="fade" style="background-image: url(~/assets/img/page-title-bg.jpg);">
    <div class="container position-relative">
        <h1>À propos</h1>
        <p>Un aperçu des services que nous proposons et des valeurs qui nous motivent.</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Accueil</a></li>
                <li class="current">À propos</li>
            </ol>
        </nav>
    </div>
</div><!-- Fin du titre de la page -->
<!-- Section À propos -->
<section id="about" class="about section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up" data-aos-delay="200">
                <img src="~/assets/img/about.jpg" class="img-fluid" alt="À propos">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            </div>

            <div class="col-lg-6 content order-last order-lg-first" data-aos="fade-up" data-aos-delay="100">
                <h3>À propos de nous</h3>
                <p>
                    Nous sommes une entreprise innovante qui se concentre sur la fourniture de solutions adaptées aux besoins de nos clients. Nous visons à apporter des changements positifs grâce à notre expertise.
                </p>
                <ul>
                    <li>
                        <i class="bi bi-diagram-3"></i>
                        <div>
                            <h5>Gestion de projets efficaces</h5>
                            <p>Nous offrons des solutions optimisées pour chaque étape du projet, garantissant la satisfaction client.</p>
                        </div>
                    </li>
                    <li>
                        <i class="bi bi-fullscreen-exit"></i>
                        <div>
                            <h5>Excellence opérationnelle</h5>
                            <p>Nos méthodes sont conçues pour maximiser l'efficacité tout en maintenant des normes de qualité élevées.</p>
                        </div>
                    </li>
                    <li>
                        <i class="bi bi-broadcast"></i>
                        <div>
                            <h5>Support client inégalé</h5>
                            <p>Nous offrons un support continu pour garantir la réussite de vos projets sur le long terme.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</section><!-- Fin de la section À propos -->
<!-- Section Statistiques -->
<section id="stats" class="stats section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Clients</p>
                </div>
            </div><!-- Fin de l'élément Statistiques -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projets</p>
                </div>
            </div><!-- Fin de l'élément Statistiques -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Heures de support</p>
                </div>
            </div><!-- Fin de l'élément Statistiques -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Travailleurs</p>
                </div>
            </div><!-- Fin de l'élément Statistiques -->

        </div>

    </div>

</section><!-- Fin de la section Statistiques -->
<!-- Section Équipe -->
<section id="team" class="team section">

    <!-- Titre de la section -->
    <div class="container section-title" data-aos="fade-up">
        <span>Notre équipe<br></span>
        <h2>Notre équipe</h2>
        <p>Les talents de notre équipe contribuent à notre succès continu dans chaque projet que nous entreprenons.</p>
    </div><!-- Fin du titre de la section -->

    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt="Walter White">
                    <div class="member-content">
                        <h4>Walter White</h4>
                        <span>Développement Web</span>
                        <p>
                            Expert en développement web, Walter utilise ses compétences pour créer des solutions numériques performantes.
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- Fin du membre de l'équipe -->

            <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt="Sarah Jhinson">
                    <div class="member-content">
                        <h4>Sarah Jhinson</h4>
                        <span>Marketing</span>
                        <p>
                            Sarah dirige nos efforts marketing pour garantir une forte visibilité et un engagement avec nos clients.
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- Fin du membre de l'équipe -->

            <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt="William Anderson">
                    <div class="member-content">
                        <h4>William Anderson</h4>
                        <span>Contenu</span>
                        <p>
                            William est notre expert en création de contenu et s'assure que chaque message atteint le public cible.
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- Fin du membre de l'équipe -->

        </div>

    </div>

</section><!-- Fin de la section Équipe -->
<!-- Section Témoignages -->
<section id="testimonials" class="testimonials section dark-background">

    <img src="~/assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
            </script>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="Saul Goodman">
                        <h3>Saul Goodman</h3>
                        <h4>PDG et Fondateur, GetAway</h4>
                        <p>
                            "Excellente entreprise! Ils ont fait un travail remarquable pour notre projet. Nous les recommandons sans hésitation."
                        </p>
                    </div>
                </div><!-- Fin du témoignage -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="Sara Wilsson">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer, WebCo</h4>
                        <p>
                            "Une équipe professionnelle et créative. Ils ont parfaitement compris notre vision et l'ont réalisée avec brio."
                        </p>
                    </div>
                </div><!-- Fin du témoignage -->

            </div><!-- Fin des diapositives -->
        </div><!-- Fin de la configuration du swiper -->

    </div>

</section><!-- Fin de la section Témoignages -->
