@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-about">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span class="sitename">MecaTrans</span>
                </a>
                <p>
                    Bienvenue sur MecaTrans, votre solution de transport fiable et efficace. Nous offrons des services de
                    transport adaptés à vos besoins, que ce soit pour des livraisons locales ou des trajets longue distance.
                    Notre équipe est dédiée à garantir la sécurité et la ponctualité de chaque service.
                </p>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Liens Utiles</h4>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">À propos de nous</a></li>
                    <li><a href="#">Nos services</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Nos Services</h4>
                <ul>
                    <li><a href="#">Transport local</a></li>
                    <li><a href="#">Transport longue distance</a></li>
                    <li><a href="#">Location de véhicules</a></li>
                    <li><a href="#">Services de livraison</a></li>
                    <li><a href="#">Solutions logistiques</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contactez-nous</h4>
                <p>108 Rue Adam</p>
                <p>New York, NY 535022</p>
                <p>États-Unis</p>
                <p class="mt-4"><strong>Téléphone :</strong> <span>+1 5589 55488 55</span></p>
                <p><strong>Email :</strong> <span>contact@mecatrans.com</span></p>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>
            © <span>Droits d'auteur</span> <strong class="px-1 sitename">MecaTrans</strong> <span>
                Tous droits
                réservés
            </span>
        </p>
        <div class="credits">
            Conçu par <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Preloader -->
<div id="preloader"></div>