@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <!-- Logo de l'entreprise -->
        <a href="index.html" class="logo d-flex align-items-center me-auto">
            <!-- Remplacer le commentaire par un logo image si disponible -->
            <!-- <img src="assets/img/logo.png" alt="Logo Entreprise"> -->
            <h1 class="sitename">MecaTrans</h1>
        </a>

        <!-- Menu de navigation -->
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a asp-controller="Home" class="active">Accueil</a></li>
                <li><a asp-controller="Apropos" asp-action="Index">À propos</a></li>
                <li><a asp-controller="NosService" asp-action="Index">Nos Services</a></li>
                <li><a asp-controller="Vehicle" asp-action="Index">Nos Véhicules</a></li>
                <li><a asp-controller="Tarifs" asp-action="Index">Tarifs</a></li>
                <li class="dropdown">
                    <a href="#"><span>Options</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a asp-controller="Offre" asp-action="Index" asp-route-IdVehicle="null">Obtenir un Devis</a></li>
                    </ul>
                </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <!-- Bouton d'appel à l'action -->
        <a class="btn-getstarted" asp-controller="Offre" asp-action="Index" asp-route-IdVehicle="null">Obtenir un Devis</a>

        <a class="btn-getstarted" asp-controller="Offre" asp-action="Index" asp-route-IdVehicle="null">Se Connecter</a>

    </div>
</header>