@page
@model GestionVoitureFrontOffice.Pages.Admin.VehiculeModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@Html.Partial("~/Pages/Admin/Shared/_Aside.cshtml")

<main id="main" class="main">
</main>