<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Gestion de mission</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/Admin/">
                        <i class="bi bi-circle"></i><span>Offre</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Mission">
                        <i class="bi bi-circle"></i><span>Mission</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/Admin/Facture">
                <i class="bi bi-grid"></i>
                <span>Gestion de facture</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/Admin/Vehicule">
                <i class="bi bi-grid"></i>
                <span>Gestion de véhicule</span>
            </a>
        </li>

    </ul>

</aside>